<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>{{ page_title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="{{ author_name }}">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="{{ meta_description }}">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="{{ favicon_url }}">
        <link rel="apple-touch-icon" href="{{ apple_icon_url }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ apple_icon_72x72_url }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ apple_icon_114x114_url }}">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons -->
        <link rel="stylesheet" href="{{ css_vendors_url }}"/>
        <link rel="stylesheet" href="{{ css_icon_url }}"/>
        <link rel="stylesheet" href="{{ css_style_url }}"/>
        <link rel="stylesheet" href="{{ css_responsive_url }}"/>
        <link rel="stylesheet" href="{{ jewellery_store_css_url }}" />
    </head>
    <body data-mobile-nav-style="classic">
        <!-- start header -->
        <header class="header-with-topbar">
            <!-- start header top bar -->
            <div class="header-top-bar top-bar-light bg-dark-gray disable-fixed md-border-bottom border-color-transparent-dark-very-light">
                <div class="container-fluid">
                    <div class="row h-40px align-items-center m-0">
                        <div class="col-12 justify-content-center alt-font">
                            <div class="fs-13 text-white text-uppercase">{{ shipping_offer }}</div>
                            <a href="{{ offer_link }}" class="fs-13 fw-500 text-base-color text-base-color-hover text-uppercase ms-5px"><i class="feather icon-feather-bookmark icon-small align-middle"></i> <span class="text-decoration-line-bottom">{{ offer_text }}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header top bar -->
            <!-- start navigation -->
            <nav class="navbar navbar-expand-lg header-light bg-white disable-fixed">
                <div class="container-fluid">
                    <div class="col-auto col-lg-5 menu-order position-static">
                        <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav"> 
                            <ul class="navbar-nav alt-font"> 
                                <li class="nav-item"><a href="{{ home_url }}" class="nav-link">Home</a></li>
                                <li class="nav-item dropdown submenu">
                                    <a href="{{ shop_url }}" class="nav-link">Shop</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink1"> 
                                        <div class="d-lg-flex mega-menu m-auto flex-column">
                                            <div class="row row-cols-1 row-cols-lg-5 mb-50px md-mb-20px">
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Rings</li>
                                                        {% for ring in rings %}
                                                            <li><a href="{{ ring.url }}">{{ ring.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Earrings</li>
                                                        {% for earring in earrings %}
                                                            <li><a href="{{ earring.url }}">{{ earring.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Necklaces</li>
                                                        {% for necklace in necklaces %}
                                                            <li><a href="{{ necklace.url }}">{{ necklace.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Pendants</li>
                                                        {% for pendant in pendants %}
                                                            <li><a href="{{ pendant.url }}">{{ pendant.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="col">
                                                    <ul>  
                                                        <li class="sub-title">Bracelet</li>
                                                        {% for bracelet in bracelets %}
                                                            <li><a href="{{ bracelet.url }}">{{ bracelet.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </li> 
                                <li class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0);" class="nav-link">Pages</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3"> 
                                        <li><a href="{{ about_url }}">About</a></li>
                                        <li><a href="{{ faq_url }}">Faq</a></li>
                                        <li><a href="{{ wishlist_url }}">Wishlist</a></li>
                                        <li><a href="{{ account_url }}">Account</a></li>
                                        <li><a href="{{ cart_url }}">Cart</a></li>
                                        <li><a href="{{ checkout_url }}">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="{{ blog_url }}" class="nav-link">Blog</a></li>
                                <li class="nav-item"><a href="{{ contact_url }}" class="nav-link">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 justify-content-end justify-content-lg-center">
                        <a class="navbar-brand" href="{{ home_url }}">
                            <img src="{{ logo_url }}" alt="" class="default-logo">
                            <img src="{{ logo_url }}" alt="" class="alt-logo">
                            <img src="{{ logo_url }}" alt="" class="mobile-logo"> 
                        </a>
                    </div>
                    <div class="col-auto col-lg-5 justify-content-end ms-auto md-pe-0">
                        <div class="header-icon">
                            <div class="widget-text icon alt-font fw-500 d-none d-sm-flex">
                                <a href="{{ wishlist_url }}">Wishlist</a>
                            </div>
                            <div class="header-account-icon icon alt-font">
                                <div class="header-account dropdown"> 
                                    <a href="javascript:void(0);" class="fw-500">
                                        <i class="feather icon-feather-user d-inline-block d-sm-none fs-18"></i>
                                        <span class="d-none d-sm-inline-block">My account</span>
                                    </a>
                                    <ul class="account-item-list">
                                        <li class="account-item"><a href="#">Wishlist</a></li>
                                        <li class="account-item"><a href="#">Order history</a></li>
                                        <li class="account-item"><a href="#">Account details</a></li>
                                        <li class="account-item"><a href="#">Customer support</a></li>
                                        <li class="account-item"><a href="#">Logout</a></li>
                                    </ul>
                                </div> 
                            </div>
                            <div class="header-search-icon icon">
                                <a href="javascript:void(0)" class="search-form-icon header-search-form xs-ps-10px"><i class="feather icon-feather-search"></i></a> 
                                <div class="search-form-wrapper">
                                    <button title="Close" type="button" class="search-close alt-font">×</button>
                                    <form id="search-form" role="search" method="get" class="search-form text-left" action="{{ search_result_url }}">
                                        <div class="search-form-box">
                                            <h2 class="text-dark-gray text-center mb-5 alt-font fw-600 ls-minus-2px">What are you looking for?</h2>
                                            <input class="search-input alt-font" id="search-form-input5e219ef164995" placeholder="Enter your keywords..." name="s" value="" type="text" autocomplete="off">
                                            <button type="submit" class="search-button">
                                                <i class="feather icon-feather-search" aria-hidden="true"></i> 
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="header-cart-icon icon">
                                <div class="header-cart dropdown">
                                    <a href="javascript:void(0);"><i class="feather icon-feather-shopping-bag"></i><span class="cart-count alt-font text-da">{{ cart_count }}</span></a> 
                                    <ul class="cart-item-list">
                                        {% for item in cart_items %}
                                        <li class="cart-item align-items-center">
                                            <a href="javascript:void(0);" class="alt-font close">×</a>
                                            <div class="product-image">
                                                <a href="{{ item.url }}"><img src="{{ item.image }}" class="cart-thumb" alt=""></a>
                                            </div>
                                            <div class="product-detail alt-font">
                                                <a href="{{ item.url }}">{{ item.name }}</a>
                                                <span class="item-ammount">{{ item.price }}</span> 
                                            </div>
                                        </li>
                                        {% endfor %}
                                        <li class="cart-total">
                                            <div class="alt-font mb-15px"><span class="w-50">Subtotal:</span><span class="w-50 text-end fw-600">{{ subtotal }}</span></div>
                                            <a href="{{ cart_url }}" class="btn btn-large btn-transparent-base-color border-color-extra-medium-gray btn-round-edge">View cart</a>
                                            <a href="{{ checkout_url }}" class="btn btn-large btn-dark-gray btn-box-shadow btn-round-edge">Checkout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header -->
        <!-- start page title -->
        <section class="half-section top-space-margin cover-background" style="background-image: url({{ page_title_image_url }})">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-8 text-center position-relative page-title-extra-large">
                        <div class="d-flex flex-column extra-very-small-screen">
                            <div class="mt-auto">
                                <h1 class="fw-500 text-dark-gray alt-font mb-0 ls-minus-2px">{{ page_heading }}</h1>
                            </div>
                            <div class="fs-16 fw-500 alt-font text-dark-gray justify-content-center breadcrumb breadcrumb-style-01 mt-auto">
                                <ul>
                                    <li><a href="{{ home_url }}" class="text-dark-gray text-medium-gray-hover">{{ home_label }}</a></li>
                                    <li>{{ page_name }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 last-paragraph-no-margin">
                        <h5 class="alt-font fw-600 text-dark-gray mb-15px">{{ blog_post_title }}</h5>
                        <p>{{ blog_post_content }}</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start footer -->
        <footer class="footer-dark bg-seashell-white pb-0 cover-background" style="background-image: url('{{ footer_bg_image_url }}');">
            <div class="container">
                <div class="row justify-content-center mb-4 sm-mb-35px">
                    <div class="col-6 col-lg-3 last-paragraph-no-margin order-sm-1 md-mb-50px xs-mb-30px">
                        <a href="{{ home_url }}" class="footer-logo d-inline-block mb-20px"><img src="{{ logo_url }}" data-at2x="{{ logo_2x_url }}" alt=""></a>
                        <span class="lh-22 alt-font fw-500 text-dark-gray d-block w-80 lg-w-100 mb-15px">{{ support_text }}</span>
                        <div class="fs-16 text-brown"><i class="feather icon-feather-phone-call icon-small me-10px xs-me-5px text-dark-gray"></i><a href="tel:{{ phone_number }}">{{ phone_number }}</a></div>
                        <div class="fs-16"><i class="feather icon-feather-mail icon-small me-10px xs-me-5px text-dark-gray"></i><a href="mailto:{{ email_address }}">{{ email_address }}</a></div>
                    </div>
                    <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                        <span class="alt-font fw-500 text-dark-gray d-block mb-5px">{{ categories_label }}</span>
                        <ul class="fs-16">
                            <li><a href="{{ women_collection_url }}">{{ women_collection }}</a></li>
                            <li><a href="{{ men_collection_url }}">{{ men_collection }}</a></li>
                            <li><a href="{{ accessories_url }}">{{ accessories }}</a></li>
                            <li><a href="{{ diamond_url }}">{{ diamond }}</a></li>
                            <li><a href="{{ gold_jewellery_url }}">{{ gold_jewellery }}</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                        <span class="alt-font fw-500 text-dark-gray d-block mb-5px">{{ account_label }}</span>
                        <ul class="fs-16">
                            <li><a href="{{ my_profile_url }}">{{ my_profile }}</a></li>
                            <li><a href="{{ order_history_url }}">{{ order_history }}</a></li>
                            <li><a href="{{ wish_list_url }}">{{ wish_list }}</a></li>
                            <li><a href="{{ order_tracking_url }}">{{ order_tracking }}</a></li>
                            <li><a href="{{ shopping_cart_url }}">{{ shopping_cart }}</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                        <span class="alt-font fw-500 text-dark-gray d-block mb-5px">{{ information_label }}</span>
                        <ul class="fs-16">
                            <li><a href="{{ about_us_url }}">{{ about_us }}</a></li>
                            <li><a href="{{ careers_url }}">{{ careers }}</a></li>
                            <li><a href="{{ events_url }}">{{ events }}</a></li>
                            <li><a href="{{ articles_url }}">{{ articles }}</a></li>
                            <li><a href="{{ contact_us_url }}">{{ contact_us }}</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 ps-30px sm-ps-15px md-mb-50px xs-mb-0 order-sm-2 order-lg-5 text-center text-sm-start">
                        <span class="alt-font fw-500 text-dark-gray d-block mb-10px">{{ connect_with_us_label }}</span>
                        <div class="elements-social social-icon-style-09">
                            <ul class="small-icon dark mb-20px">
                                <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a></li>
                                <li><a class="instagram" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a></li>
                                <li><a class="twitter" href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i><span></span></a></li>
                                <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i class="fa-brands fa-dribbble"></i><span></span></a></li>
                            </ul>
                        </div>
                        <span class="alt-font fw-500 text-dark-gray d-block mb-10px">{{ secure_payment_label }}</span>
                        <div class="footer-card d-block d-sm-flex align-items-center">
                            <a href="#" class="d-inline-block me-5px align-middle"><img src="{{ visa_logo_url }}" class="h-25px" alt=""></a>
                            <a href="#" class="d-inline-block me-5px align-middle"><img src="{{ mastercard_logo_url }}" class="h-25px" alt=""></a>
                            <a href="#" class="d-inline-block me-5px align-middle"><img src="{{ american_express_logo_url }}" class="h-25px" alt=""></a>
                            <a href="#" class="d-inline-block me-5px align-middle"><img src="{{ discover_logo_url }}" class="h-25px" alt=""></a>
                            <a href="#" class="d-inline-block me-5px align-middle"><img src="{{ diners_club_logo_url }}" class="h-25px" alt=""></a>
                        </div>
                    </div> 
                </div>
            </div> 
        </footer>
        <!-- end footer -->
        <!-- start cookie message -->
        <div id="cookies-model" class="cookie-message bg-dark-gray border-radius-8px"> 
            <div class="cookie-description fs-14 text-white mb-20px lh-22">{{ cookie_message }}</div>   
            <div class="cookie-btn">
                <a href="#" class="btn btn-transparent-white border-1 border-color-transparent-white-light
