<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>{{ page_title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="{{ meta_description }}">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="{{ favicon_url }}">
        <link rel="apple-touch-icon" href="{{ apple_icon_url }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ apple_icon_72x72_url }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ apple_icon_114x114_url }}">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons -->
        <link rel="stylesheet" href="{{ css_vendors_url }}"/>
        <link rel="stylesheet" href="{{ css_icon_url }}"/>
        <link rel="stylesheet" href="{{ css_style_url }}"/>
        <link rel="stylesheet" href="{{ css_responsive_url }}"/>
        <link rel="stylesheet" href="{{ jewellery_store_css_url }}" />
    </head>
    <body data-mobile-nav-style="classic">
        <!-- start header -->
        <header class="header-with-topbar">
            <!-- start header top bar -->
            <div class="header-top-bar top-bar-light bg-dark-gray disable-fixed md-border-bottom border-color-transparent-dark-very-light">
                <div class="container-fluid">
                    <div class="row h-40px align-items-center m-0">
                        <div class="col-12 justify-content-center alt-font">
                            <div class="fs-13 text-white text-uppercase">{{ shipping_offer }}</div>
                            <a href="{{ offer_link }}" class="fs-13 fw-500 text-base-color text-base-color-hover text-uppercase ms-5px"><i class="feather icon-feather-bookmark icon-small align-middle"></i> <span class="text-decoration-line-bottom">{{ offer_text }}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header top bar -->
            <!-- start navigation -->
            <nav class="navbar navbar-expand-lg header-light bg-white disable-fixed">
                <div class="container-fluid">
                    <div class="col-auto col-lg-5 menu-order position-static">
                        <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav"> 
                            <ul class="navbar-nav alt-font"> 
                                <li class="nav-item"><a href="{{ home_url }}" class="nav-link">Home</a></li>
                                <li class="nav-item dropdown submenu">
                                    <a href="{{ shop_url }}" class="nav-link">Shop</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink1"> 
                                        <div class="d-lg-flex mega-menu m-auto flex-column">
                                            <div class="row row-cols-1 row-cols-lg-5 mb-50px md-mb-20px">
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Rings</li>
                                                        <li><a href="#">Engagement</a></li>
                                                        <li><a href="#">Gold rings</a></li>
                                                        <li><a href="#">Casual rings</a></li>
                                                        <li><a href="#">Silver rings</a></li>
                                                        <li><a href="#">Platinum rings</a></li>
                                                        <li><a href="#">Diamond rings</a></li> 
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Earrings</li>
                                                        <li><a href="#">Jhumkas</a></li>
                                                        <li><a href="#">Barbells</a></li>
                                                        <li><a href="#">Hug hoops</a></li>
                                                        <li><a href="#">Tear drop</a></li>
                                                        <li><a href="#">Suidhaga</a></li>
                                                        <li><a href="#">Gemstone</a></li> 
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Necklaces</li>
                                                        <li><a href="#">Bib necklece</a></li>
                                                        <li><a href="#">Collar necklece</a></li>
                                                        <li><a href="#">Rope necklece</a></li>
                                                        <li><a href="#">Locket necklece</a></li>
                                                        <li><a href="#">Chain necklece</a></li>
                                                        <li><a href="#">Opera nacklece</a></li> 
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Pendants</li>
                                                        <li><a href="#">Alphabet</a></li>
                                                        <li><a href="#">Mangalsutra</a></li>
                                                        <li><a href="#">Religious</a></li>
                                                        <li><a href="#">Diamond</a></li>
                                                        <li><a href="#">Heart shaped</a></li>
                                                        <li><a href="#">Gemstone</a></li> 
                                                    </ul>
                                                </div>
                                                <div class="col">
                                                    <ul>  
                                                        <li class="sub-title">Bracelet</li>
                                                        <li><a href="#">Caratlane chain</a></li>
                                                        <li><a href="#">Oval bracelets</a></li>
                                                        <li><a href="#">Pearl bracelets</a></li>
                                                        <li><a href="#">Charm bracelets</a></li>
                                                        <li><a href="#">Silver brcelets</a></li>
                                                        <li><a href="#">Tennis bracelets</a></li> 
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row row-cols-1 row-cols-md-2">
                                                <div class="col">
                                                    <a href="{{ shop_url }}"><img src="https://placehold.co/580x160" class="border-radius-4px w-100" alt=""></a>
                                                </div>
                                                <div class="col">
                                                    <a href="{{ shop_url }}"><img src="https://placehold.co/580x160" class="border-radius-4px w-100" alt=""></a>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </li> 
                                <li class="nav-item dropdown simple-dropdown">
                                    <a href="{{ categories_url }}" class="nav-link">Categories</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink2"> 
                                        <div class="mega-menu m-auto">
                                            <div class="row md-m-0">
                                                <div class="col-12 col-lg-9">
                                                    <div class="row row-cols-1 row-cols-lg-4 align-items-center justify-content-center">
                                                        <div class="col mb-20px md-mb-10px text-start text-lg-center">
                                                            <a href="{{ categories_url }}" class="d-none d-lg-block"> 
                                                                <img src="https://placehold.co/190x140" class="border-radius-4px mb-5px" alt="">  
                                                            </a>
                                                            <a href="{{ categories_url }}" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center">
                                                                <span> 
                                                                    <span class="btn-text text-dark-gray fs-17 flex-shrink-0">Rings</span> 
                                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                                </span>
                                                            </a> 
                                                        </div>
                                                        <div class="col mb-20px md-mb-10px text-start text-lg-center">
                                                            <a href="{{ categories_url }}" class="d-none d-lg-block"> 
                                                                <img src="https://placehold.co/190x140" class="border-radius-4px mb-5px" alt="">  
                                                            </a>
                                                            <a href="{{ categories_url }}" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center">
                                                                <span> 
                                                                    <span class="btn-text text-dark-gray fs-17 flex-shrink-0">Bracelet</span> 
                                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="col mb-20px md-mb-10px text-start text-lg-center">
                                                            <a href="{{ categories_url }}" class="d-none d-lg-block"> 
                                                                <img src="https://placehold.co/190x140" class="border-radius-4px mb-5px" alt="">  
                                                            </a>
                                                            <a href="{{ categories_url }}" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center">
                                                                <span> 
                                                                    <span class="btn-text text-dark-gray fs-17 flex-shrink-0">Earrings</span> 
                                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                                </span>
                                                            </a> 
                                                        </div>
                                                        <div class="col mb-20px md-mb-10px text-start text-lg-center">
                                                            <a href="{{ categories_url }}" class="d-none d-lg-block"> 
                                                                <img src="https://placehold.co/190x140" class="border-radius-4px mb-5px" alt="">  
                                                            </a>
                                                            <a href="{{ categories_url }}" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center">
                                                                <span> 
                                                                    <span class="btn-text text-dark-gray fs-17 flex-shrink-0">Necklace</span> 
                                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                                </span>
                                                            </a> 
                                                        </div>
                                                        <div class="col text-start text-lg-center">
                                                            <a href="{{ categories_url }}" class="d-none d-lg-block"> 
                                                                <img src="https://placehold.co/190x140" class="border-radius-4px mb-5px" alt="">  
                                                            </a>
                                                            <a href="{{ categories_url }}" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center">
                                                                <span> 
                                                                    <span class="btn-text text-dark-gray fs-17 flex-shrink-0">Pendants</span> 
                                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4 d-none d-lg-flex">
                                                    <div>
                                                        <a href="{{ categories_url }}"><img src="https://placehold.co/290x380" class="border-radius-4px" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </li> 
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 justify-content-end justify-content-lg-center">
                        <a class="navbar-brand" href="{{ home_url }}">
                            <img src="{{ logo_url }}" alt="" class="default-logo">
                            <img src="{{ logo_url }}" alt="" class="alt-logo">
                            <img src="{{ logo_url }}" alt="" class="mobile-logo"> 
                        </a>
                    </div>
                    <div class="col-auto col-lg-5 justify-content-end ms-auto md-pe-0">
                        <div class="header-icon">
                            <div class="widget-text icon alt-font fw-500 d-none d-sm-flex">
                                <a href="{{ wishlist_url }}">Wishlist</a>
                            </div>
                            <div class="header-account-icon icon alt-font">
                                <div class="header-account dropdown"> 
                                    <a href="javascript:void(0);" class="fw-500">
                                        <i class="feather icon-feather-user d-inline-block d-sm-none fs-18"></i>
                                        <span class="d-none d-sm-inline-block">My account</span>
                                    </a>
                                    <ul class="account-item-list">
                                        <li class="account-item"><a href="#">Wishlist</a></li>
                                        <li class="account-item"><a href="#">Order history</a></li>
                                        <li class="account-item"><a href="#">Account details</a></li>
                                        <li class="account-item"><a href="#">Customer support</a></li>
                                        <li class="account-item"><a href="#">Logout</a></li>
                                    </ul>
                                </div> 
                            </div>
                            <div class="header-cart-icon icon">
                                <div class="header-cart dropdown">
                                    <a href="javascript:void(0);"><i class="feather icon-feather-shopping-bag"></i><span class="cart-count alt-font text-da">{{ cart_count }}</span></a> 
                                    <ul class="cart-item-list">
                                        {% for item in cart_items %}
                                        <li class="cart-item align-items-center">
                                            <a href="javascript:void(0);" class="alt-font close">×</a>
                                            <div class="product-image">
                                                <a href="{{ item.url }}"><img src="{{ item.image }}" class="cart-thumb" alt=""></a>
                                            </div>
                                            <div class="product-detail alt-font">
                                                <a href="{{ item.url }}">{{ item.name }}</a>
                                                <span class="item-ammount">{{ item.price }}</span> 
                                            </div>
                                        </li>
                                        {% endfor %}
                                        <li class="cart-total">
                                            <div class="alt-font mb-15px"><span class="w-50">Subtotal:</span><span class="w-50 text-end fw-600">{{ subtotal }}</span></div>
                                            <a href="{{ cart_url }}" class="btn btn-large btn-transparent-base-color border-color-extra-medium-gray btn-round-edge">View cart</a>
                                            <a href="{{ checkout_url }}" class="btn btn-large btn-dark-gray btn-box-shadow btn-round-edge">Checkout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header -->
        <!-- start page title -->
        <section class="half-section top-space-margin cover-background" style="background-image: url('{{ page_title_image_url }}')">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 text-center position-relative page-title-extra-large">
                        <div class="d-flex flex-column extra-very-small-screen" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                            <div class="mt-auto">
                                <h1 class="fw-500 text-dark-gray alt-font mb-0 ls-minus-2px">{{ page_heading }}</h1>
                            </div>
                            <div class="fs-16 fw-500 alt-font text-dark-gray justify-content-center breadcrumb breadcrumb-style-01 mt-auto">
                                <ul>
                                    <li><a href="{{ home_url }}" class="text-dark-gray text-medium-gray-hover">{{ home_label }}</a></li>
                                    <li>{{ page_name }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <!-- end page title -->
        <!-- start section -->
        <section class="top-space-margin cover-background" style="background-image: url('{{ product_image_url }}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{{ product_image_url }}" alt="{{ product_name }}" class="product-image"/>
                    </div>
                    <div class="col-lg-6 product-info">
                        <h1>{{ product_name }}</h1>
                        <span>{{ product_price }}</span>
                        <p>{{ product_description }}</p>
                        <!-- Add more product details and dynamic content here -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
    </body>
</html>
